html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1 {
  font-weight: bolder;
  font-size: 2em;
  color: #f0f0f0;
  font-family: Nunito;
  padding: 0 10px;
  align-self: center;
  justify-content: flex-end;
  box-sizing: border-box; }

#nav_check {
  display: none; }

#burger_menu {
  background-color: #01595b;
  border: none;
  color: #f0f0f0;
  margin-left: 10px;
  font-size: 1.5em;
  box-sizing: border-box; }

.main_nav {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  background-color: #01595b;
  z-index: 1;
  width: 100vw;
  padding-bottom: 10px;
  transition: transform 200ms linear;
  transform: translateX(-100vw);
  top: 50px; }
  .main_nav ul {
    list-style: none; }
  .main_nav li {
    height: 50px;
    width: 100vh;
    box-sizing: border-box;
    display: flex; }
    .main_nav li a {
      color: #f0f0f0;
      text-decoration: none;
      font-family: Lato;
      text-transform: uppercase;
      transition: 400ms;
      box-sizing: border-box;
      align-self: center;
      margin-left: 40px; }

#nav_check:checked ~ .main_nav {
  transform: translateX(0); }

.main_nav li:active {
  background-color: #01C68B; }

.main_header {
  background-color: #01595b;
  display: flex;
  height: 50px;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box; }

.bio {
  margin: 20px;
  font-family: Lato;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-image: url(../img/foto_bio.jpg);
  margin: 0;
  padding: 0;
  background-size: contain;
  height: calc((1670*100vw)/1365);
  width: 100vw;
  padding-bottom: 20px; }

#title_bio {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  box-sizing: border-box; }

#foto_bio {
  display: none; }

#texto_bio {
  align-self: flex-end;
  background-color: rgba(34, 34, 34, 0.75);
  padding: 0 15px;
  box-sizing: border-box;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.25em; }

.footer {
  background-color: #01595b;
  height: 300px;
  color: #f0f0f0;
  font-family: Lato;
  box-sizing: border-box; }

@media (min-width: 768px) {
  h1 {
    padding: 0 10px; }
  .main_header {
    background-color: #01595b;
    display: flex;
    height: 70px; }
  .main_nav {
    display: flex;
    position: inherit;
    align-self: center;
    transform: translateX(0);
    top: 0;
    margin-left: 30px;
    width: 100vw;
    height: 100%;
    padding-bottom: 0; }
    .main_nav ul {
      list-style: none;
      flex-direction: row; }
    .main_nav li {
      display: inline-flex;
      height: 100%;
      width: auto;
      align-self: center; }
    .main_nav a {
      color: #f0f0f0;
      text-decoration: none;
      font-family: Lato;
      font-weight: bold;
      padding: 10px 30px;
      transition: 400ms;
      height: 100%; }
  .main_nav li a:hover {
    background-color: #01C68B;
    color: #222; }
  #burger_menu {
    display: none; }
  #foto_bio {
    display: inline;
    width: 30vw; }
  #texto_bio {
    background-color: none;
    color: #f0f0f0;
    width: 50vw;
    align-self: center; }
  .bio {
    background-image: none;
    background-color: #222;
    font-size: 2em;
    height: fit-content;
    color: #f0f0f0;
    display: flex;
    padding-bottom: 0; }
  #title_bio {
    color: #f0f0f0; }
  .main_nav li:active {
    background-color: #01595b; } }
