$tablet: 885px;
$desktop: 1024px;
$desktopXL: 1200px;


@mixin media ($size) {
    @media (min-width:$size) {
        @content;
    }
}

@mixin tablet-media {
    @include media ($tablet) {
        @content;
    }
}

@mixin title-style {
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4em;
    font-family: Lato;
    display: block;

    @include tablet-media {
        color: #f0f0f0;
    }
}