@import "./abstracts/mixins";
@import "./abstracts/reset";
@import "./sections/bio";
@import "./components/main-nav";

.footer {
    background-color: #01595b;
    height: 300px;
    color: #f0f0f0;
    font-family: Lato;
    box-sizing: border-box;
}