@import "../abstracts/mixins";

#bio {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: contain;
    width: 100%;
    background-color: #222;
    #figurefigure {
        position: relative;
        height: calc((1670*95vw)/1365);
        text-align: center;
        overflow-y: hidden;
        .figure_bio__container {
            display: inline-block;
            height: 95%;
            #figure_bio {
                max-width: 100%;
            }
        }
        #caption_bio {
            display: block;
            position: absolute;
            bottom: 20px;
            left: 0;
            background-color: rgba($color: #222, $alpha: .75);
            color: #f0f0f0;
            width: 100%;
            font-family: lato;
            font-size: 1.25em;
        }
        @include tablet-media {
            background-color: #222;
            color: #f0f0f0;
            display: flex;
            height: auto;
            max-width: 1200px;
            margin-inline: auto;
            margin-bottom: -3px;
            .figure_bio__container {
                height: auto;
                max-width: 50vw;
            }
            #caption_bio {
                position: initial;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                padding-left: 30px;
                font-size: 2em;
                letter-spacing: .075em;
            }
        }
    }
}

#title_bio {
    @include title-style;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 99;
}

/*
#texto_bio {
    align-self: flex-end;
    background-color: rgba($color: #222, $alpha: .75);
    padding: 0 15px;
    box-sizing: border-box;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.25em;
    font-family: Lato;
    color: #f0f0f0;

    @include tablet-media {
        background-color: none;
        max-width: 50vw;
        align-self: center;
    }
}*/